@import "tailwindcss";

@theme {
  --color-primary: #1E40AF;
  --color-secondary: #14B8A6;
  --color-lightBg: #F8FAFC;
  --color-lightText: #556873;
  --color-darkText: #1F2937;

  --font-heading: var(--font-poppins);
  --font-body: var(--font-inter);
}